<footer class="bg-secondary mt-auto py-6">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="text-xl font-semibold">
            <a href="/home"><img src="/images/logo.png" alt="logo" class="inline-block w-48"></a> 
        </div>
        <div class="flex gap-4">
            <a href="https://facebook.com" class="text-white hover:text-yellow-500">
                <i class="fa-brands fa-xl fa-facebook"></i>
            </a>
            <a href="https://discord.com" class="text-white hover:text-yellow-500">
                <i class="fa-brands fa-xl fa-discord"></i>
                
            </a> <a href="https://instagram.com" class="text-white hover:text-yellow-500">
                <i class="fa-brands fa-xl fa-instagram"></i>
            </a>
             
        </div>
    </div>
</footer>